In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('Data/movies.csv')

In [6]:
df = df[['title', 'genres', 'keywords', 'cast', 'director']]
df = df.fillna('')
df.head()

,title,genres,keywords,cast,director
0,Avatar,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,Spectre,Action Adventure Crime,spy based on novel secret agent sequel mi6,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes
3,The Dark Knight Rises,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan
4,John Carter,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton

In [9]:
df['features'] = df['title'] + ' ' + df['genres'] + ' ' + \
        df['keywords'] + ' ' + df['cast'] + ' ' + \
        df['director']

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(stop_words='english', min_df=20)
word_matrix = vectorizer.fit_transform(df['features'])
word_matrix.shape

(4803, 918)

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

sim = cosine_similarity(word_matrix)

In [15]:
def get_recommendations(title, df, sim, count=10):

    index = df.index[df['title'].str.lower() == title.lower()]

    if (len(index) == 0):
        return []
    
    similarities = list(enumerate(sim[index[0]]))
    recommendations = sorted(similarities, key=lambda x: x[1], reverse=True)
    top_recs = recommendations[1:count + 1]

    titles = []

    for i in range(len(top_recs)):
        title = df.iloc[top_recs[i][0]]['title']
        titles.append(title)

    return titles

In [19]:
get_recommendations('The Dark Knight Rises', df, sim)

['The Dark Knight',
 'Batman Begins',
 'Harsh Times',
 'The Killer Inside Me',
 "Amidst the Devil's Wings",
 'The Replacement Killers',
 'Batman',
 'In Too Deep',
 'The Protector',
 'Rampage']